# ----------------------
# Flask
# ----------------------
flask
Flask-WTF
Flask_SQLAlchemy
psycopg2

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gunicorn
